body{

    margin:0;

    background:#1E3A8A;

    color:white;

    font-family:Arial;

}

.container{

    width:80%;

    margin:auto;

    text-align:center;

    padding-top:50px;

}

h1{

    font-size:80px;

    margin-bottom:20px;

}

p{

    font-size:24px;

    color:#cccccc;

}

.cta-button{

    display:inline-block;

    margin-top:40px;

    padding:18px 45px;

    background:#00C853;

    color:white;

    text-decoration:none;

    font-size:22px;

    font-weight:bold;

    border-radius:12px;

    transition:0.3s;

}

.cta-button:hover{

    background:#00A844;

    transform:scale(1.05);

}
.subtitle{

    font-size:30px;

    color:white;

    margin-bottom:30px;

}

.services{

    margin-top:40px;

}

.services p{

    font-size:22px;

    margin:12px;

    color:#e0e0e0;

}
